@font-face {
    font-family: Samim;
    font-style: normal;
    font-weight: bold;
    src: url('Samim/Samim-Bold.eot');
    src: url('Samim/Samim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('Samim/Samim-Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Samim/Samim-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Samim;
    font-style: normal;
    font-weight: normal;
    src: url('Samim/Samim.eot');
    src: url('Samim/Samim.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('Samim/Samim.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('Samim/Samim.ttf') format('truetype');
}
