@using Microsoft.AspNetCore.Identity
@using PersonalBlog.Models

@inject UserManager<ApplicationUser> UserManager

<li class="dropdown dropdown-user nav-item">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><img src="../../app-assets/images/portrait/small/avatar-s-1.png" alt=""><i></i></span><span class="user-name">سلام @UserManager.GetUserName(User)!</span></a>

    <div class="dropdown-menu dropdown-menu-right">
        <a href="#" class="dropdown-item"><i class="icon-head"></i> ویرایش حساب</a><a href="#" class="dropdown-item"><i class="icon-mail6"></i> صندوق پیام</a><a href="#" class="dropdown-item"><i class="icon-clipboard2"></i> کار</a><a href="#" class="dropdown-item"><i class="icon-calendar5"></i> تقویم</a>
        <div class="dropdown-divider"></div>
        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="icon-power3"></i>خروج</a>
    </div>
</li>