<div class="seo-list">
    <span class="seo-score">
        امتیاز سئو : <span id="SeoScore"></span>/100
    </span>
    <div class="seo-description">
        <strong>عنوان</strong>
        <br />
        <ul class="ulSeo" id="TitleMessages"></ul>
        <br />

        <strong>کلمه کلیدی</strong>
        <br />
        <ul class="ulSeo" id="KeywordMessages"></ul>
        <br />

        <strong>آدرس</strong>
        <br />
        <ul class="ulSeo" id="UrlMessages"></ul>
        <br />

        <strong>متا تگ توضیحات</strong>
        <br />
        <ul class="ulSeo" id="MetaDescriptionMessages"></ul>
        <br />

        <strong>متن</strong>
        <br />
        <ul class="ulSeo" id="TextMessages"></ul>
        <br />
    </div>
</div>