@model PostViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-body">
    <h4 class="form-section"><i class="icon-address-book"></i> اطلاعات کلی</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SourceName" class="control-label"></label>
                <input asp-for="SourceName" class="form-control" />
                <span asp-validation-for="SourceName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SourceUrl" class="control-label"></label>
                <input asp-for="SourceUrl" class="form-control" />
                <span asp-validation-for="SourceUrl" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IsPin" class="control-label"></label>
                <input asp-for="IsPin" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IsEnable" class="control-label"></label>
                <input asp-for="IsEnable" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CategoryList" class="control-label"></label>
                <select asp-for="CategoryList" multiple="multiple" class="form-control" id="PostCategory"></select>
                <input asp-for="CategoryList" class="form-control" id="CategoryList"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" id="PostLocation"></select>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("../Shared/_Content", Model as ContentViewModel)
</div>

<div class="form-actions">
    <div class="col-md-3 offset-md-3 centered">
        <button type="submit" class="btn btn-success">ثبت <i class="icon-check2"></i></button>
    </div>
    <div class="col-md-3 centered">
        <a asp-action="Index" class="btn btn-outline-warning mr-1">بازگشت <i class="icon-cross2"></i></a>
    </div>
</div>